<p id="notice"><%= notice %></p>

<h1>Listing Hr Tables</h1>
<%= form_tag hr_tables_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
    <% end %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Holidays request from</th>
      <th>Holidays from</th>
      <th>Holidays to</th>
      <th>Holidays taken</th>
      <th>Holidays bal</th>
      <th>Holidays approved by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hr_tables.each do |hr_table| %>
      <tr>
        <td><%= hr_table.Hol_req_from %></td>
        <td><%= hr_table.Hol_from %></td>
        <td><%= hr_table.Hol_to %></td>
        <td><%= hr_table.Hol_taken %></td>
        <td><%= hr_table.Hol_bal %></td>
        <td><%= hr_table.Hol_approved_by %></td>
        <td><%= link_to 'Show', hr_table %></td>
        <td><%= link_to 'Edit', edit_hr_table_path(hr_table) %></td>
        <td><%= link_to 'Destroy', hr_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hr table', new_hr_table_path %>
