
<p>
  <h3><%= @employee.emp_name %></h3>
</p>

	  
<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
<table class="table table-hover">
	<tbody>
	  
  <tr>
    <th><%= f.label :emp_name %></th>
    <td><%= f.text_field :emp_name %></td>
  </tr>  
  <tr>
    <th><%= f.label :address %></th>
    <td><%= f.text_field :address %></td>
  </tr>
  <tr>
    <th><%= f.label :DOB %><br>
    <td><%= f.date_select :DOB %></td>
  </tr>
  <trh>
    <th><%= f.label :mobile %></th>
    <td><%= f.text_field :mobile %></td>
  </tr>
  <tr>
    <th><%= f.label :email %></th>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr> 
    <th><%= f.label :Designation %></th>
    <td><%= f.text_field :Designation %></td>
  </tr> 
  <tr>
    <th><%= f.label :Dept %></th>
    <td><%= f.text_field :Dept %></td>
  </tr>
  <tr>
    <th><%= f.label :salary %></th>
    <td><%= f.text_field :salary %></td>
  </tr>
  <tr>
    <th><%= f.label :Hol_taken %></th>
    <td><%= f.number_field :Hol_taken %></td>
  </tr>
  <tr>
    <th><%= f.label :Hol_bal %></th>
    <td><%= f.number_field :Hol_bal %></td>
  </tr>
  
  	</tbody>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
