<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :emp_name %><br>
    <%= f.text_field :emp_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :DOB %><br>
    <%= f.date_select :DOB %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :Designation %><br>
    <%= f.text_field :Designation %>
  </div>
  <div class="field">
    <%= f.label :Dept %><br>
    <%= f.text_field :Dept %>
  </div>
  <div class="field">
    <%= f.label :salary %><br>
    <%= f.text_field :salary %>
  </div>
  <div class="field">
    <%= f.label :Hol_taken %><br>
    <%= f.number_field :Hol_taken %>
  </div>
  <div class="field">
    <%= f.label :Hol_bal %><br>
    <%= f.number_field :Hol_bal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
