<p id="notice"><%= notice %></p>

<p>
  <strong>Emp name:</strong>
  <%= @employee.emp_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @employee.DOB %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @employee.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @employee.Designation %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @employee.Dept %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @employee.salary %>
</p>

<p>
  <strong>Hol taken:</strong>
  <%= @employee.Hol_taken %>
</p>

<p>
  <strong>Hol bal:</strong>
  <%= @employee.Hol_bal %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
