<p id="notice"><%= notice %></p>

<h1>Listing Hr Tables</h1>

<table>
  <thead>
    <tr>
      <th>Hol req from</th>
      <th>Hol from</th>
      <th>Hol to</th>
      <th>Hol taken</th>
      <th>Hol bal</th>
      <th>Hol approved by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hr_tables.each do |hr_table| %>
      <tr>
        <td><%= hr_table.Hol_req_from %></td>
        <td><%= hr_table.Hol_from %></td>
        <td><%= hr_table.Hol_to %></td>
        <td><%= hr_table.Hol_taken %></td>
        <td><%= hr_table.Hol_bal %></td>
        <td><%= hr_table.Hol_approved_by %></td>
        <td><%= link_to 'Show', hr_table %></td>
        <td><%= link_to 'Edit', edit_hr_table_path(hr_table) %></td>
        <td><%= link_to 'Destroy', hr_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hr table', new_hr_table_path %>
