<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>

<table>
  <thead>
    <tr>
      <th>Emp name</th>
      <th>Address</th>
      <th>Dob</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Designation</th>
      <th>Dept</th>
      <th>Salary</th>
      <th>Hol taken</th>
      <th>Hol bal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.emp_name %></td>
        <td><%= employee.address %></td>
        <td><%= employee.DOB %></td>
        <td><%= employee.mobile %></td>
        <td><%= employee.email %></td>
        <td><%= employee.Designation %></td>
        <td><%= employee.Dept %></td>
        <td><%= employee.salary %></td>
        <td><%= employee.Hol_taken %></td>
        <td><%= employee.Hol_bal %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
